/* src/components/App.css */

.app {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
  background-color: #000000;
  color: #ffffff;
}

/* Media Query for Screens 430px and Smaller */
@media (max-width: 430px) {
  .app.light {
    background-color: #f0f0f0; /* Light gray background for light mode on small screens */
    color: #000000;
  }

  .app.dark {
    background-color: #1a1a1a; /* Darker background for dark mode on small screens */
    color: #ffffff;
  }

  section {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
