/* src/components/Home.css */

.home {
    text-align: center;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.intro {
    margin-bottom: 20px;
}

h1.animated-text {
    font-family: 'Space Grotesk';
    font-size: 40px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s; /* Adjust delay for h1 */
}

p.animated-text {
    font-family: sans-serif;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s; /* Adjust delay for p */
}

.resume-button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid currentColor;
    background-color: inherit;
    color: inherit;
    text-decoration: none; /* Ensure it looks like a button */
    transition: background-color 0.3s, color 0.3s;
}

.resume-button:hover {
    background-color: #000000;
    color: #ffffff;
}

body.dark-mode .resume-button:hover {
    background-color: #ffffff;
    color: #000000;
}

@media (max-width: 430px) {
    .home {
        padding: 80px 15px;
    }

    .resume-button {
        width: 100%;
        padding: 12px;
    }
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
